<div class="row mt-4">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <button type="button"
                (click)="import()"
                class="btn btn-outline-success float-end">Importa</button>
      </div>
      <div class="col-8 mt-4">
        <textarea class="form-control w-100 "
                  [(ngModel)]="value"
                  rows="20"></textarea>
      </div>
      <div class="col-4 mt-4">
        <div class="dropzone">
          <label for="file">Or <span class="select-button">select</span> from your computer</label>
          <input type="file"
                 id="file"
                 accept="json"
                 multiple="false"
                 (drop)="onFiledrop($event)"
                 (change)="onFiledrop($event)"
                 #fileDropRef />
        </div>
      </div>
    </div>
  </div>
</div>
